.yarn-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 2s;
}
.yarn-item-image{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.yarn-item-info{
    padding: 20px;
}
.yarn-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.yarn-item-name-rating p{
    font-size: 19px;
    font-weight: 500;
}
.yarn-item-name-rating img {
    width: 70px;
}
.yarn-item-desc {
   color: #3a222f;
    font-size: 12px;
}
.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
}
.yarn-item-img-container{
    position: relative;
}
.yarn-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}